@font-face {
	font-family: 'Conv_Freesetdemic';
	src: url('fonts/Freesetdemic.eot');
	src: local('☺'), url('fonts/Freesetdemic.woff') format('woff'), url('fonts/Freesetdemic.ttf') format('truetype'), url('fonts/Freesetdemic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_FreeSetC';
	src: url('fonts/FreeSetC.eot');
	src: local('☺'), url('fonts/FreeSetC.woff') format('woff'), url('fonts/FreeSetC.ttf') format('truetype'), url('fonts/FreeSetC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_FreeSetCd';
	src: url('fonts/FreeSetCd.eot');
	src: local('☺'), url('fonts/FreeSetCd.woff') format('woff'), url('fonts/FreeSetCd.ttf') format('truetype'), url('fonts/FreeSetCd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Freesetdemic2';
	src: url('fonts/Freesetdemic.eot');
	src: local('☺'), url('fonts/Freesetdemic.woff') format('woff'), url('fonts/Freesetdemic.ttf') format('truetype'), url('fonts/Freesetdemic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/futurabookc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futurabookc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futurabookc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futurabookc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futurabookc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futurabookc.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'FuturaLightC';
	src: url('../fonts/futuralightc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futuralightc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futuralightc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futuralightc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futuralightc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futuralightc.svg#futuralightc') format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
  width: 1440px;
  margin: 0 auto;
  background-color: #F2F7FC;
}
.add-to-cart {
  border: 1px solid #BD0202;
  box-sizing: border-box;
  width: 221px;
  height: 49px;
  border-radius: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #BD0202;
  font-family: "Conv_FreeSetC";
}
.info h3 {
  font-family: 'Conv_Freesetdemic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.container-products {
  justify-content: space-around;
  display: flex;
  padding-left: 120px;
  padding-right: 120px;
}
.product-card {
  width: 263px;
  height: 433px;
  background: #FFFFFF;
  border: 1px solid #E9ECEE;
  border-radius: 10px;
  flex-basis: 263px 433px;
}
.popular-products {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 20px;
}
.go-to-shop {
  margin-top: 40px;
  width: 132px;
  height: 35px;
  border: 1px solid #9AA2A9;
  border-radius: 5px;
  font-family: 'Conv_FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #232323;
}
.go-to-shop img {
  margin-left: 10px;
  margin-bottom: 1px;
}
.product-price {
  font-size: 20px;
  font-weight: bold;
  font-family: "Conv_Freesetdemic";
  display: inline-block;
  margin-bottom: 30px;
}
.product-image {
  display: flex;
  width: 263px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.product-info {
  margin-left: 10px;
  width: 80%;
}
.product-info p {
  font-family: 'Conv_FreeSetC';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
#platki {
  text-decoration: underline;
  font-family: "Conv_FreeSetC";
  border: none;
  color: rgba(0, 0, 0, 0.5)
}
#picture {
  text-decoration: underline;
  font-family: "Conv_FreeSetC";
  border: none;
  color: rgba(0, 0, 0, 0.5)
}
.btn-clicked {
  border: 1px solid #E9ECEE;
  color: #9AA2A9;
}
ion-icon {
  width: 20px;
  height: 20px;
}
.price-sale {
  display: inline-block;
  font-size: 21px;
  font-family: "Conv_FreeSetC";
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}
.new {
  box-sizing: border-box;
  display: flex;
  position: relative;
  right: 240px;
  top: 68px;
  width: 53px;
  height: 18px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #005C9C;
  border-radius: 100px;;
}
.new p {
  box-sizing: border-box;
  position: relative;
  bottom: 10px;
  text-align: center;
  font-style: normal;
  font-family: 'FuturaLightC';
  font-weight: 100;
  font-size: 11px;
  color: #FFFFFF;
}
.welcome-page-container>header>p {
  position: relative;
  bottom: 51px;
  left: 630px;
  font-family: 'Conv_FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.welcome-page-header-menu {
  position: relative;
  bottom: 85px;
  left: 824px;
  margin-bottom: 0;
  padding-left: 0;
  width: 500px;
  margin-right: 0;
}
.cart-and-profile {
  width: 100px;
  bottom: 102px;
  position: relative;
  left: 1250px;
  color: #FFFFFF;
  font-family: 'Conv_FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
#number-1-around-cart {
  position: relative;
  bottom: 4px;
  left: 2px;
}
.welcome-page-header-menu>li{
  display: inline-block;
  font-family: 'Conv_FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.welcome-page-menu {
  position: relative;
  left: 475px;
  bottom: 50px;
  width: 900px;
}
.welcome-page-menu>li>img {
  position: relative;
  bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.welcome-page-menu>li {
  display: inline-block;
  font-family: 'Conv_FreeSetDemiC';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.462604px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.welcome-page-container>header>img {
  position: relative;
  bottom: 20px;
  left: 1200px;
}
.welcome-page-container>header>span>img {
  position: relative;
  right: 4px;
  top: 2px;
}
#onega-logo {
  width: 150px;
  height: 63px;
  position: relative;
  top: 70px;
  right: 825px;
}
.social-icons {
  position: relative;
  left: 275px;
  bottom: 18px;
}
#vk {
  margin-bottom: 3px;
}
#sova {
  margin-bottom: 3px;
}
.phone-number {
  color: #FFFFFF;
  font-size: 19px;
}
.welcome-page-container {
  width: 1440px;
  height: 850px;
  background-image: url(hero_bg.png);
  display: flex;
}
.welcome-page-container h1 {
  position: relative;
  top: 225px;
  right: 550px;
  font-family: 'Conv_Freesetdemic2';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  color: #FFFFFF;
  text-align: center;
}
.tour-container, .excursion-container, .hotel-container {
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
  justify-content: space-around;
  margin-bottom: 100px;
  position: relative;
  bottom: 70px;
}
.tour-card-info h1, .excursion-card-info h1, .hotel-card-info h1 {
  font-size: 24px;
  width: 80%;
  font-family: "Conv_Freesetdemic";
}
.tour-info p, .excursion-info p, .hotel-info p{
  width: 250px;
  height: 123px;
  padding-right: 50px;
  font-size: 16px;
  color: #707070;
}
.tour-info h1, .excursion-info h1, .hotel-info h1{
  margin-top: 100px;
}
.buy-tour-btn, .buy-excursion-btn, .more-hotel-btn{
  width: 199px;
  height: 50px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Conv_Freesetdemic";
  margin-top: 230px;
}
.tour-card, .excursion-card, .hotel-card {
  display: flex;
  width: 262px;
  height: 400px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}
.tour-card-info, .excursion-card-info, .hotel-card-info {
  padding-left: 30px;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
}
.excursion-card-info p, .hotel-card-info p {
  width: 80%;
}
.bg-img-tent {
  background: url(patrick-hendry-eDgUyGu93Yw-unsplash1.png);
  border-radius: 10px;
}
.bg-img-golubino {
  width: 100%;
  background: url(casey-schackow-meI9Aa1wlw0-unsplash1.png);
  border-radius: 10px;
}
.bg-img-fishing {
  width: 100%;
  background-image: url(vidar-nordli-mathisen-yJKb_4vjYwA-unsplash1.png);
  border-radius: 10px;
}
.bg-img-monastery {
  background-image: url(1577931031.png);
  width: 100%;
  border-radius: 10px;

}
.bg-img-fortress {
  background-image: url(1667144131.png);
  width: 100%;
  border-radius: 10px;
}
.bg-img-ice_caves {
  width: 100%;
  border-radius: 10px;
  background-image: url(2610117001.png);
}
.bg-img-hotel1 {
  width: 100%;
  border-radius: 10px;
  background-image: url(simon-rae-t4NvUGv1834-unsplash1.png);
}
.bg-img-hotel2 {
  width: 100%;
  border-radius: 10px;
  background-image: url(joseph-albanese-xx0oSB1YxRE-unsplash1.png);
}
.bg-img-familyhotel2 {
  width: 100%;
  border-radius: 10px;
  background-image: url(patrick-perkins-3wylDrjxH-E-unsplash1.png);
}
.order-4 {
  order: 4;
  padding-left: 50px;
}
.blue-line {
  height: 10px;
  background: #005C9C;
  opacity: 0.15; 
}
.left-arrow, .right-arrow {
  width: 30px;
  height: 20px;
  display: inline-flex;
  cursor: pointer;
}
.left-arrow::before, .left-arrow::after, .right-arrow::before, .right-arrow::after {
  content: "";
  position: absolute;
}
.left-arrow::before, .right-arrow::before {
  width: 27px;
  height: 1px;
  background-color: #000000;
  margin-top: 3px;
}
.left-arrow::after {
  display: flex;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  transform: rotate(-45deg);
}
.left-arrow::after, .right-arrow::after {
  width: 5px;
  height: 5px;
}
.right-arrow::after {
  display: flex;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  transform: rotate(-45deg);
  margin-left: 19px;
}
.news {
  margin-top: 5px;
  margin-left: 50px;
  font-family: "Conv_FreeSetDemiC";
}
.news-card {
  display: inline-block;
  position: relative;
  bottom: 50px;
}
.news-card>img {
  position: relative;
  right: 20px;
}
.news-card>p {
  font-size: 12px;
  opacity: 0.5;
  color: #232323;
}
.news-card>h4 {
  width: 200px;
}
#vegan-img {
  position: relative;
  top: 15px;
}
.news>h1>button {
  position: relative;
  left: 770px;
  bottom: 50px;
  border: none;
}
.onega-story-and-news-container {
  margin-left: 140px;
  display: flex;
}
.onega-story>button {
  border: none;
  margin-left: 20px;
  margin-top: 10px;
}
.onega-story>p {
  font-family: 'Conv_FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 263px;
  margin-bottom: 30px;
}
.onega-story>h1 {
  font-family: "Conv_FreeSetDemiC";
  font-size: 34px;
  color: #232323;
  margin-bottom: 50px;
}
footer {
  display: flex;
  height: 508px;
  width: 1440px;
  background-color: #232323;
  font-family: "Conv_FreeSetDemiC";
}
footer>.onega>p {
  margin-left: 120px;
  font-size: 16px;
  color: #FFFFFF;
}
#footer-fn {
  position: relative;
  left: 20px;
  bottom: 30px;
  width: 200px;
  font-size: 22px;
  font-family: "Conv_FreeSetC";
}
#footer-onega-logo {
  margin-left: 120px;
  margin-top: 50px;
}
.phone-icon {
  margin-right: 5px;
}
#footer-phone-icon {
  position: relative;
  right: 140px;
  top: 25px;
  
}
#email-link {
  text-decoration: underline;
  margin-left: 120px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Conv_FreeSetC";
}
.expect-for-news, .onega {
  display: inline-block;
}
.expect-for-news {
  position: relative;
  left: 100px;
  top: 40px;
  color: #FFFFFF;
}
.subscribe-to-news {
  opacity: 0.5;
  width: 262px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}
.subscribe-to-news img {
  position: relative;
  bottom: 45px;
  left: 230px;
}
.subscribe-to-news h3 {
  position: relative;
  bottom: 4px;
  left: 20px;
}
.expect-for-news h6 {
  width: 230px;
  position: relative;
  bottom: 20px;
  font-family: 'Conv_FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.expect-for-news>h3 {
  font-family: 'Conv_FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 30px;
}
.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  text-align: center;
}
.icon img {
  position: relative;
  top: 12px;
}
.links {
  display: inline-block;
  position: relative;
  top: 40px;
  left: 200px;
}
.links-block {
  width: 261px;
  height: 233px;
}
.second-links-block {
  position: relative;
  left: 310px;
  bottom: 235px;
}
.links h3 {
  font-family: 'FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 33px;
  width: 575px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.links li {
  list-style-type: none;
  margin-bottom: 15px;
  font-family: 'FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.links img {
  position: relative;
  left: 258px;
  bottom: 35px;
}
footer>span {
  width: 1440px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  top: 460px;
  right: 550px;
  font-family: 'Conv_FreeSetC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1000px) {
  body {
    width: 500px;
  }
  .tour-container, .container-products, .hotel-container, .excursion-container, .welcome-page-container, .onega-story-and-news-container, footer {
    width: 376px;
    display: inline-block;
  }
  .welcome-page-container h1 {
    position: relative;
    bottom: 100px;
  }
  .welcome-page-container {
    background-image: url(ekaterina-sazonova-PoQYDgPfx8I-unsplash1.png);
    position: relative;
    width: 375px;
    height: 376px;
    right: 240px;
  }
  .tour-card, .hotel-card, .product-card, .excursion-card {
    margin-top: 20px;
    position: relative;
    right: 300px;
  }
  .tour-card {
    position: relative;
  }
  .excursion-info, .tour-info, .hotel-info {
    position: relative;
    right: 295px;
  }
  .excursion-info {
    right: 345px;
  }
  .phone-number {
    position: relative;
    right: 100px;
  }
  .popular-products {
    position: relative;
    right: 320px;
  }
  .go-to-shop {
    position: relative;
    height: 100px;
    top: 50px;
    right: 200px;
    margin-bottom: 50px;
  }
  footer {
    position: relative;
    width: 375px;
    height: 750px;
    right: 240px;
  }
  .onega-story-and-news-container {
    position: relative;
    right: 315px;
    margin-top: 50px;
  }
  .onega-story {
    margin-bottom: 50px;
  }
  .news {
    position: relative;
    right: 50px;
  }
}